.body-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
    background-color: #F5F8FA;
}

.vertical-column {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 75%;
}