.graph-container{
    height: 100%;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ECEFF4;
    padding: 1rem 1rem 1rem 1rem;
}

.graph-container .text-heading  {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 3rem;
    margin-top: 0rem;
}