.header {
    background-color: #062849;   
    height: 2.5rem;
    padding: 1rem;
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-start; */
}
.header-logo {
    height: 2.5rem;

}