.datatable-container{
    margin-top: 2rem;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ECEFF4;
}
table {
    text-align: center;
    border-collapse: collapse;
    display: block;
}
thead {
    border-bottom: 1px solid #ECEFF4;
    width: 100%;
}
th {
    padding: 1rem 0rem;
    font-size: 16px;
    text-align: center;
}
tr {
    border-bottom: 1px solid #ECEFF4;
    width: 100%;
}
td {
    padding: 1rem 2rem;
    font-size: 14px;
    width: 100%;
    max-width: 22%;
    color: #B3B8C5;
}
tbody{
    width: 100%;
}
.datatable-container button {
    all: unset;   
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 13px;
    color: #858D98;
    text-align: right;
    margin: auto;
}
.datatable-container button:hover {
    cursor: pointer;   
}
.downIcon {
    line-height: 0.7;
    padding-left: 0.5rem;
    color: #B3B8C5;
}